<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'board:art_index' %}">Main</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
            <li>
                <a class="nav-link active" aria-current="page" href="{% url 'board:create_art' %}">New Article</a>
            </li>
            <li>
                <a class="nav-link active" aria-current="page" href="{% url 'accounts:logout' %}">Logout</a>
            </li>
            <li>
                <a class="nav-link active" aria-current="page" > 회원: {{ request.user }} </a>
            </li>
            {% else %}
            <li>
                <a class="nav-link active" aria-current="page" href="{% url 'accounts:signup' %}">Signup</a>
            </li>
            <li>
                <a class="nav-link active" aria-current="page" href="{% url 'accounts:login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
        </div>
    </div>
</nav>